.spinnerContainer {
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(148, 146, 250, 0.945);
  z-index: 99999;
}

.spinner {
  position: absolute;
  width: 10vw;
  height: 10vw;
  box-shadow: 0 0 50px 2px black;
  border-radius: 100%;
  background-image: url("../../assets/images/gato.jpg");
  background-size: contain;
  animation-name: backgroundImage;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.delay {
  visibility: hidden;
  animation-delay: 1s;
}

@keyframes backgroundImage {
  0% {
    visibility: visible;
    transform: translate(-100px, 0px);
  }
  20% {
    background-image: url("../../assets/images/gato.jpg");
    background-size: contain;
  }
  25% {
    transform: translate(100px, 0px);
  }
  40% {
    background-image: url("../../assets/images/gato2.jpeg");
    background-size: contain;
  }
  50% {
    transform: translate(100px, 100px);
  }
  70% {
    background-image: url("../../assets/images/gato3.jpg");
    background-size: contain;
  }
  75% {
    transform: translate(-100px, 100px);
  }
  90% {
    background-image: url("../../assets/images/gato4.jpg");
    background-size: contain;
  }
  100% {
    visibility: visible;
    transform: translate(-100px, 0);
  }
}
